MEMDOT_MIGRATE_PASSWORD=REPLACE_WITH_OPERATOR_SECRET
MEMDOT_CORE_PASSWORD=REPLACE_WITH_OPERATOR_SECRET
MEMDOT_TEST_ADMIN_PASSWORD=REPLACE_WITH_OPERATOR_SECRET
MEMDOT_TENANT_CONTEXT_SIGNING_KEY=REPLACE_WITH_AT_LEAST_32_RANDOM_CHARACTERS
MEMDOT_MIGRATION_DATABASE_URL=postgres://memdot_migrate:REPLACE_WITH_OPERATOR_SECRET@postgres:5432/memdot
MEMDOT_TEST_ADMIN_DATABASE_URL=postgres://memdot_test_admin:REPLACE_WITH_OPERATOR_SECRET@postgres:5432/memdot
MEMDOT_BOOTSTRAP_DATABASE_URL=postgres://memdot:REPLACE_WITH_OPERATOR_SECRET@postgres:5432/memdot
