KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=REPLACE_WITH_OPERATOR_SECRET
KC_DB_USERNAME=memdot
KC_DB_PASSWORD=REPLACE_WITH_OPERATOR_SECRET
KEYCLOAK_CORE_CLIENT_SECRET=REPLACE_WITH_OPERATOR_SECRET
KEYCLOAK_MCP_CLIENT_SECRET=REPLACE_WITH_OPERATOR_SECRET
